
.Docs {
  background-color: #222;
  width: 100%;
  /* The following two instructions are critical to get the scrollbar to appear */
  max-height: 500px;
  overflow: auto;
  color: #E6E6E6;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  word-wrap: break-word;
  /*border: 1px solid #E3E3E3;*/
}

.Docs > pre {
  font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  white-space: pre;
  word-wrap: normal;
  margin: 12px;  
  color: #E6E6E6;
  display: block;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #e7e9ed;
  background-color: #333333;
}

#Docs h5 {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 10px;
}

.Docs > h1 {
  color: #979A9C;
  line-height: 20px;
  font-size: 1.3em;
  font-weight: 600;
  margin: 24px 0 12px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e7e9ed;
}