
.Docs {
  margin: 0 !important;
	padding: 0 !important;
  background-color: #222;
  width: 100%;
  color: #E6E6E6;
  font-family: Helvetica;
  overflow: auto;
  /*border: 1px solid #E3E3E3;*/
}


#Docs h1 {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 10px;
  font-family: Helvetica;
}

.Docs > h5 {
  color: #979A9C;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 10px;
  font-family: Helvetica;
  text-decoration: underline;
}