.lm_header_menu {
  margin-left: auto;
  right: 0;
  clear: left; 
  position: relative;
  z-index: 1000000 !important; // this is getting out of control  
}

 .lm_header_menu > ul {
    float: right;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    width: 170px;
   
  }
  .lm_header_menu > Dropdown {
    position: absolute;
  }

.lm_header_menu > li{
    display: inline;
    list-style-type: none;
    padding: 10px 30px;
    cursor: pointer;
    vertical-align: top;
    line-height: 30px;
    box-sizing: border-box;
	  background-position: center center;
	  background-repeat: no-repeat;
	  position: relative;
	  opacity: 0.4;
	  filter: alpha(opacity=40);
	  -webkit-transition: opacity 300ms ease;
	  -o-transition: opacity 300ms ease;
	  -ms-transition: opacity 300ms ease;
	  -moz-transition: opacity 300ms ease;
	  transition: opacity 300ms ease;
}    
