/* STYLES THE MENU HEADER */
.lm_header_menu {
  display: block;
  background: #262626;
  height: 30px;
  width: 100%;
  position:fixed; 
  top:0px;
  margin-left: auto;
  clear: left; 
  border-bottom:  2px solid #404040;
  z-index: 100000000 !important;
}

/* STYLES THE MENU BUTTON */
.lm_header_menu > button {
  background: #212121;
  min-width: 100px;
  height: 30px;
  margin-left: auto;
  right: 0;
  color: #fff;
  font-family: Helvetica;
  border: 2px solid #404040;
  position: absolute;
  /* Following two determine how slowly the color transitions to the hover state */
  -webkit-transition-duration: 0.4s; /* for Safari */
  transition-duration: 0.4s;  
}

.lm_header_menu > button:hover {
  background: #8A8A8A;
  color: #FFF;
  border: 2px solid #404040;
} 

/* STYLES THE MENULIST THAT POPS UP WHEN MENU BUTTON IS CLICKED */
.MenuList {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  margin-left: 2px;
  border: 3px;
  min-width: 100px;
  cursor: pointer;
}

/* STYLES THE INDIVIDUAL ITEMS ON THE MENU */
.MenuItem {
  font-family: Helvetica;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;  
}

 .lm_header_menu > ul {
    float: right;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    z-index: 100000 !important; // this is getting out of control  
  }

.lm_header_menu > li{
    display: inline;
    list-style-type: none;
    padding: 10px 30px;
    cursor: pointer;
    vertical-align: top;
    line-height: 30px;
    box-sizing: border-box;
	  background-position: center center;
	  background-repeat: no-repeat;
	  position: relative;
	  opacity: 0.4;
	  filter: alpha(opacity=40);
	  -webkit-transition: opacity 300ms ease;
	  -o-transition: opacity 300ms ease;
	  -ms-transition: opacity 300ms ease;
	  -moz-transition: opacity 300ms ease;
	  transition: opacity 300ms ease;
}    
