body {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  background: #f1f1f1;
}
#map {
  height: 900px;
  width: 900px;
}

.lm_goldenlayout {
  z-index:0;
}

.mainContainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  background: #cfcfcf;
  height: 50px;
  padding-top: 30px;  
}